/* Základní styl pro stránku */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

/* Nastavení světle modrého pozadí pro celou stránku */
body {
    background-color: #ADD8E6; /* Světle modrá barva */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    border: 1px solid black;
    background: grey;
    margin: auto;
    padding: 50px auto; 
}

h2 {
    border: 1px solid black;
    background: green;
}

button {
    margin: 5px;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #FFCCCC; /* Světle červené pozadí */
    border: 1px solid #FF0000; /* Červené ohraničení */
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 5px; /* Mezera mezi tlačítky */
}

button {
    margin-left: 5px;
    padding: 5px 10px;
}

/* Skrýt sekci pro přidání/úpravu agregátu při tisku */
@media print {
    #pridatUpravitSection {
        display: none;
    }

    /* Skrytí tlačítka pro tisk při tisku */
    #printButton {
        display: none;
    }

    /* Skrytí tlačítek pro úpravy, smazání, doplnění paliva a kontroly při tisku */
    .button-container {
        display: none;
    }
}
