/* Základní styl pro stránku */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

/* Nastavení světle modrého pozadí pro celou stránku */
body {
    background-color: #ADD8E6; /* Světle modrá barva */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Skrytí pole pro zadání hesla po přihlášení */
#loginForm {
    display: none;
}
.logo-container {
    text-align: center;  /* Zarovná obsah do středu */
    margin-top: 20px;    /* Volitelný prostor mezi nadpisem a logem */
}

.logo {
    max-width: 10%;     /* Umožní, aby logo bylo responzivní */
    height: auto;        /* Zachová proporce loga */
}


h1 {
    border: 1px solid black;
    background: grey;
    margin: auto;
    padding: 50px auto; 
}

h2 {
    border: 1px solid black;
    background: green;
}

button {
    margin: 5px;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #FFCCCC; /* Světle červené pozadí */
    border: 1px solid #FF0000; /* Červené ohraničení */
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 5px; /* Mezera mezi tlačítky */
}

button {
    margin-left: 5px;
    padding: 5px 10px;
}

/* Skrýt sekci pro přidání/úpravu agregátu při tisku */
@media print {
    #pridatUpravitSection {
        display: none;
    }

    /* Skrytí tlačítka pro tisk při tisku */
    #printButton {
        display: none;
    }

    /* Skrytí tlačítek pro úpravy, smazání, doplnění paliva a kontroly při tisku */
    .button-container {
        display: none;
    }
}
/* Skrýt sekci pro přihlášení, tlačítko odhlášení a formulář pro přidání/úpravu agregátu při tisku */
@media print {
    #loginForm,
    #nazev,
    #umisteni,
    #pridat,
    #logoutButton,
    #printButton {
        display: none !important;
    }

    /* Skrytí tlačítek pro úpravy, smazání, doplnění paliva a kontroly při tisku */
    .button-container {
        display: none;
    }
}
@media print {
    .logo-container {
        text-align: center;
        margin-top: 20px;
    }

    .logo {
        max-width: 100%;  /* Zajistí, že logo nebude příliš velké */
        height: auto;
    }
}
@media print {
    .logo-container {
        text-align: center;
        margin-top: 20px;
    }

    .logo {
        max-width: 10%;  /* Zajistí, že logo bude mít maximálně 10% šířky */
        height: auto;
       
        
    }

    /* Skrýt ostatní sekce při tisku */
    #pridatUpravitSection,
    #loginForm,
    #nazev,
    #umisteni,
    #pridat,
    #logoutButton,
    #printButton {
        display: none !important;
    }

    .button-container {
        display: none;
    }
}